.landing {
  padding-top: 100px;
  padding-bottom: 100px;

  .home {
    width: 96%;
    // max-width: 1440px;
    margin: 0 auto;
    background: #1e1e1e;
    border-radius: 40px;
    margin-top: 15px;
    padding: 80px 0 250px;
    overflow: hidden;
    position: relative;

    .content {
      .top_text {
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 400;
        font-size: 74px;
        line-height: 83px;
        color: #ffffff;
        width: 60%;
        margin: 0 auto;

        @include tablet {
          width: 75%;
        }

        @include mobile {
          font-weight: 400;
          font-size: 44px;
          line-height: 49px;
        }
      }

      .sub_content {
        width: 100%;
        margin: 20px auto 0;
        @include flexBox(center, flex-start);
        flex-direction: column;

        .text {
          font-family: 'Philosopher';
          font-style: normal;
          font-weight: 900;
          font-size: 120px;
          line-height: 83px;
          color: #ffffff;
          margin-left: 36%;

          @include tablet {
            font-size: 100px;
          }

          @include mobile {
            width: 75%;
            font-size: 80px;
            margin: 0 auto;
          }
        }

        p.info {
          margin-top: 30px;
          width: 428px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #747474;
          margin-left: 36%;

          @include mobile {
            width: 75%;
            margin: 22px auto 0;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
          }
        }

        .link_btns {
          margin-top: 30px;
          margin-left: 36%;
          width: 100%;
          padding: 0 20px;

          @include mobile {
            position: absolute;
            bottom: 35px;
            left: 0;
            margin: 0;
            @include flexBox(center, center);
            flex-direction: column;
          }

          .stories_btn {
            padding: 15px 35px;
            background: #487fff;
            border-radius: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 150%;
            color: #000000;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            text-decoration: none;
            display: block;
            text-align: center;

            @include mobile {
              width: 100%;
            }
          }

          .billboard_btn {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: #a6a6a6;
            padding: 15px 35px;
            background: #313131;
            border-radius: 10px;
            text-transform: uppercase;
            border: none;
            cursor: pointer;
            text-decoration: none;
            margin-left: 25px;
            text-align: center;

            @include mobile {
              width: 100%;
              margin: 15px auto 0;
            }
          }
        }

        .partner_logos {
          @include flexBox(flex-start, center);
          margin-top: 90px;
          margin-left: 36%;

          @include tablet {
            margin-left: 54px;
          }

          @include mobile {
            width: 75%;
            margin: 119px auto 0;
          }

          .icon:last-child {
            margin-left: 50px;
          }
        }
      }
    }

    .bottom_side {
      width: 100%;
      position: absolute;
      bottom: 0;

      .left_img {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        @include tablet {
          display: none;
        }
      }

      .right_img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;

        @include mobile {
          display: none;
        }

        img {
          @include tablet {
            width: 350px;
          }
        }
      }

      .bottom_vector {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;

        @include mobile {
          display: none;
        }

        // img {
        //   width: 100%;
        //   height: 100%;
        // }
      }
    }
  }

  .slider_and_box {
    // max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    .slider {
      width: 95%;
      height: 732px;
      margin: 0 auto;
      padding-top: 100px;

      @include tablet {
        width: 96%;
        margin: 30px auto 0;
        height: 384px;
        padding: 0;
      }

      .hooper {
        width: 100% !important;
        height: 100%;
        position: relative;
        z-index: 9 !important;

        .slide {
          width: 100%;
          height: 100%;
          border-radius: 40px;
          background: #1e1e1e;
          @include flexBox(space-between, center);
          overflow: hidden;
          .left {
            width: 50%;
            height: 100%;
            @include flexBox(flex-start, flex-start);
            padding: 55px 55px 100px;
            position: relative;

            @include tablet {
              padding: 30px 10px 69px;
            }

            .vector {
              position: absolute;
              top: -80px;

              @include tablet {
                width: 22px;
                img {
                  width: 100%;
                }
              }
            }

            .content {
              height: 100%;
              margin-left: 66px;
              @include flexBox(space-between, flex-start);
              flex-direction: column;

              .profile {
                @include flexBox(flex-start, center);

                .photo {
                  width: 100px;
                  height: 100px;

                  @include tablet {
                    width: 64px;
                    height: 64px;
                  }

                  img {
                    width: 100%;
                    object-fit: cover;
                  }
                }

                .info {
                  margin-left: 30px;

                  @include tablet {
                    margin-left: 16px;
                  }

                  .fullname {
                    font-family: 'Philosopher';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 150%;
                    color: #ffffff;

                    @include tablet {
                      font-weight: 700;
                      font-size: 16px;
                      line-height: 150%;
                    }
                  }

                  .job {
                    margin-top: 6px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 150%;
                    color: #487fff;

                    @include tablet {
                      font-weight: 500;
                      font-size: 14px;
                      line-height: 150%;
                    }
                  }
                }
              }

              .class_major {
                width: 428px;
                font-family: 'Philosopher';
                font-style: normal;
                font-weight: 400;
                font-size: 44px;
                line-height: 49px;
                color: #ffffff;

                @include tablet {
                  width: 185px;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 27px;
                }
              }

              .read_btn {
                background: #487fff;
                border-radius: 10px;
                padding: 15px 35px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                line-height: 150%;
                color: #000000;
                text-decoration: none;
              }
            }
          }

          .right {
            width: 50%;
            height: 100%;
            .photos {
              width: 100%;
              height: 100%;
              img {
                border-radius: 0 40px 40px 0;
                width: 100%;
                height: 100%;
              }
            }
          }
        }

        .hooper-navigation {
          @include tablet {
            display: none;
          }
          .hooper-prev {
            width: 50px;
            height: 50px;
            position: absolute;
            left: -25px;
            padding: 2px;
            border-radius: 50%;
            // z-index: 15;
            @include flexBox(center, center);
            background: #313131;
            opacity: 1;
            svg {
              fill: rgba(255, 255, 255, 1);
              width: 50px !important;
              height: 50px !important;
            }
          }

          .hooper-next {
            width: 50px;
            height: 50px;
            position: absolute;
            right: -25px;
            padding: 2px;
            border-radius: 50%;
            // z-index: 15;
            @include flexBox(center, center);
            background: #313131;
            opacity: 1;
            svg {
              fill: rgba(255, 255, 255, 1);
              width: 50px !important;
              height: 50px !important;
            }
          }
        }

        .hooper-pagination {
          position: absolute;
          bottom: auto;

          ol {
            li {
              margin-left: 12px;
              button {
                width: 10px;
                height: 10px;
                border-radius: 50%;
              }
            }
          }
        }
      }
    }

    .group_mask {
      position: absolute;
      top: -150px;
      left: 2px;
      // z-index: -1;
    }

    .stories {
      width: 96%;
      margin: 100px auto 0;
      background: #487fff;
      border: 1px solid #1e1e1e;
      border-radius: 40px;
      padding: 155px 30px 78px 60px;
      position: relative;
      @include flexBox(space-between, flex-start);

      @include tablet {
        padding: 15px 15px 70px;
      }

      .left {
        width: 40%;
        max-width: 500px;
        height: 100%;

        @include tablet {
          position: absolute;
          top: 70px;
          left: 70px;
        }

        .top_text {
          p.title {
            font-family: 'Philosopher';
            font-style: normal;
            font-weight: 400;
            font-size: 54px;
            line-height: 60px;
            color: #000000;
          }

          p.info {
            margin-top: 5px;
            font-family: 'Philosopher';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            color: #000000;
          }
        }

        .girl_imgs {
          margin-top: 50px;
          width: 100%;
          height: 406px;
          // background: orange;
          position: relative;

          @include tablet {
            display: none;
          }

          .back_shadow {
            position: absolute;
            top: 0;
            left: 135px;
            width: 284px;
            height: 284px;
            border-radius: 50%;
            background: #b9a8ff;
            filter: blur(100px);
          }

          .top {
            position: absolute;
            top: 56px;
            left: 0;
            width: 66px;
            height: 66px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .top1 {
            position: absolute;
            top: 0px;
            left: 131px;
            width: 102px;
            height: 102px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .top2 {
            position: absolute;
            top: 65px;
            right: 13px;
            width: 101px;
            height: 101px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .middle {
            position: absolute;
            top: 165px;
            left: 9px;
            width: 131px;
            height: 129px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .middle1 {
            position: absolute;
            top: 116px;
            left: 165px;
            width: 168px;
            height: 169px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .middle2 {
            position: absolute;
            top: 212px;
            right: 0;
            width: 75px;
            height: 74px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .bottom {
            position: absolute;
            bottom: 0;
            left: 123px;
            width: 101px;
            height: 101px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }

          .bottom1 {
            position: absolute;
            bottom: 0;
            right: 71px;
            width: 102px;
            height: 102px;
            z-index: 2;

            img {
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }

      .right {
        width: 58%;
        max-width: 700px;
        height: 100%;
        display: grid;
        grid-template-columns: 330px 330px;
        grid-gap: 20px;
        justify-content: center;

        @include tablet {
          width: 100%;
          grid-gap: 13px;
          margin-top: 186px;
        }
      }

      .show_all_stories {
        width: 370px;
        height: 250px;
        background: #ffffff;
        border-radius: 20px 0px 0px 20px;
        position: absolute;
        bottom: 78px;
        right: 0;
        padding: 40px;
        text-decoration: none;
        cursor: pointer;

        @include tablet {
          width: 360px;
          bottom: 70px;
        }

        p.text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 30px;
          line-height: 36px;
          color: #000000;
        }

        .icon {
          margin-top: 28px;
        }
      }

      .top_line {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img {
          width: 100%;
        }
      }
    }
  }

  .media_and_partners {
    width: 100%;
    margin: 0 auto;
    position: relative;

    .multi_group_mask {
      width: 100%;
      position: absolute;
      top: -150px;
      left: 0;

      @include tablet {
        top: 700px;
      }

      img {
        width: 100%;
      }
    }

    .media {
      width: 96%;
      margin: 0 auto;
      padding-top: 100px;

      p.title {
        font-family: 'Philosopher';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
        line-height: 60px;
        color: #ffffff;
        margin-left: 34px;
      }

      .videos_and_podcasts {
        display: grid;
        grid-template-columns: 635px 635px;
        max-width: 1440px;
        justify-content: space-between;
        margin: 50px auto 0;

        @include tablet {
          grid-template-columns: 675px;
          justify-content: center;
          grid-row-gap: 20px;
        }

        .video {
          width: 635px;
          height: 270px;
          border: 1px solid #464646;
          border-radius: 30px;
          padding: 30px 40px;
          position: relative;
          z-index: 2;
          overflow: hidden;
          text-decoration: none;
          cursor: pointer;

          @include tablet {
            width: 675px;
          }

          &:last-child {
            justify-self: flex-end;
          }

          .top {
            @include flexBox(flex-start, center);
            p.name {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 30px;
              line-height: 36px;
              color: #ffffff;
            }
            .icon {
              margin-left: 25px;
            }
          }

          .svg {
            border-radius: 30px;
            position: absolute;
            bottom: -5px;
            right: 0;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    .partners {
      width: 96%;
      margin: 0 auto;
      padding-top: 100px;

      .top {
        margin-left: 34px;
        p.title {
          font-family: 'Philosopher';
          font-style: normal;
          font-weight: 400;
          font-size: 54px;
          line-height: 60px;
          color: #ffffff;
        }

        p.info {
          margin-top: 20px;
          width: 542px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          color: #ffffff;
        }
      }

      .partners_slider {
        margin-top: 75px;
        width: 100%;

        .hooper {
          width: 100%;
          // height: 150px;

          .partner_logo {
            width: 100%;
            height: 100%;
            @include flexBox(center, center);
            cursor: pointer;
            @include tablet {
              margin-left: 86px;
            }
          }
        }
      }
    }
  }
}
