@import './variables';

@mixin flexBox($x, $y) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin tablet() {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  background: #0c0c0c;
  overflow: hidden;
}
